:root {
    --primary-color: #013ba7;
    --secondary-color: #fa5e00;
    --light-primary-color: #fef1ec;
    --light-color: #f3f3f3;
    --text-color: #333;
    --border-radius: 8px;
    --transition-speed: 0.3s;
    --font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    margin: 0;
    font-family: var(--font-family);
    background-color: var(--primary-color);
    color: var(--text-color);
    
}

header {
    background-color: var(--primary-color);
    color: white;
    padding: 1rem;
    text-align: center;
}

h1, h2, h3 {
    color: var(--primary-color);
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 2rem;
    background-color: white;
    border-radius: var(--border-radius);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.section {
    margin-bottom: 2rem;
}

.section-title {
    color: var(--secondary-color);
    margin-bottom: 1rem;
}

p {
    line-height: 1.6;
}

form {
    background-color: var( --secondary-color);
    color :white;
    padding: 1.5rem;
    border-radius: var(--border-radius);
}

input,
select,
textarea {
    width: 100%;
    padding: 0.75rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: var(--border-radius);
    font-size: 1rem;
    transition: border-color var(--transition-speed);
}

input:focus,
select:focus,
textarea:focus {
    border-color: var(--primary-color);
    outline: none;
}

button {
    background-color: var(--primary-color);
    color: white;
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: var(--border-radius);
    font-size: 1rem;
    cursor: pointer;
    transition: background-color var(--transition-speed);
}

.btn-volver {
    background-color: var(--primary-color);
    color: white;
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: var(--border-radius);
    font-size: 1rem;
    cursor: pointer;
    transition: background-color var(--transition-speed);
}

button:hover {
    background-color: #013ba7;
}

/* Estilos para alertas o mensajes */
.alert {
    padding: 1rem;
    border-radius: var(--border-radius);
    margin-top: 1rem;
}

.alert.success {
    background-color: #d4edda;
    color: #155724;
}

.alert.error {
    background-color: #f8d7da;
    color: #721c24;
}

/* Modal base si lo usas */


.modal-content {
    background-color: var(--secondary-color);
    color: #fff;
    margin: 10% auto;
    padding: 2rem;
    border-radius: var(--border-radius);
    width: 90%;
    max-width: 600px;
    text-align: center;
}
    
img.mb-3 {
    display: block; 
    margin-left: auto; /* Empuja la imagen a la derecha */
  }